/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
*/
/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/


div[data-loader] {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #808080;
    right: 0;
    height: 70px;
    width: 70px;
    display: none;
    z-index: 1100;
    text-align: center;
}
